body{
    background-image: url("images/dust_scratches.png");
    color: #777777;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
}
.rightnav{
    display: inline;
}
.customnavheader{
    background-color: #4aaaa5;
    color:#ffffff;
    margin-left: 13%;
    padding: 20px; 
}
.customnavbar{
    border-bottom: 1px solid #cccccc;
    padding: 0px 1%;
}
.custombox{
    background: #ffffff;
    border: 1px solid #dddddd;
    margin-top: 5%;
    padding:1%;
    margin-bottom:5%;
}
h1{
    border-bottom: 1px solid #dddddd;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #4aaaa5;
}
.copyright{
    background: #666666;
    font-size: 12px;
    color: #ffffff;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    width:100%;
}
.nopadding{
    padding:0px;
}
.submit{
    background-color: #4aaaa5;
    border-color: #4aaaa5;
    margin-top:1%;
}
a{
    color: #777777;
}
.captionedimage{
    position: relative;
    margin-bottom:2%;
}
.caption{
    position: absolute;
    bottom: 10%;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 259px; /*size of the thumbnail*/
    margin-left: 5px;
}
